#search-component input[type='text'] {
  height: 30px;
  margin: 10px 20px 0 0;
  margin-top: 10px;
  width: 80%;
  border-radius: 5px;
  border: 2px black solid;
}

#search-component input[type='text']:focus {
  border: 2px blue solid;
  outline: none;
}

#search-component input[type='submit'] {
  border: 2px black solid;
  background: none;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
}

#search-component form {
  display: inline-block;
  width: 70%;
  grid-column: 2;
  justify-self: center;
  grid-row: 2;
  align-items: center;
}

#search-component #location-button {
  width: 3em;
  border: 5px black solid;
  border-radius: 10px;
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
}

#search-component #location-button:hover {
  cursor: pointer;
  width: 4em;
}

#search-component h1 {
  grid-column: 2;
}

#search-component {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr 1fr;
}
